<!doctype html>
<html lang="cs">
  <head>
		<%= partial "meta" %>
    <title><%= current_page.data.title || "saltstack.cz" %></title>
		<%= stylesheet_link_tag 'salt' %>
  </head>
  <body class="<%= page_classes %>">

	<div class="header">
		<h1><a href="/"><img src="/img/slanka-64x64.png" width="64" height="64"/> saltstack.cz</a></h1>
	</div>

	<div class="content">
    <%= yield %>
	</div>

	<div class="content">
	<form method="get" action="/s/">
	<p>
	Vyhledávání: <input type="text" name="q" /> <input type="submit" value=" Najít " />
	</p>
	</form>
	</div>
<%= partial "footer" %>
